$breakpoint-tablet = 640px
$breakpoint-desktop = 960px
$breakpoint-desktop-hd = 1200px
$breakpoint-desktop-fullhd = 1600px

$font-primary = 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Sans-serif
$font-secondary = 'Roboto Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Sans-serif

$color-primary = #ad0f0a
$color-primary-100 = lighten($color-primary, 40%)
$color-primary-300 = lighten($color-primary, 20%)
$color-primary-700 = darken($color-primary, 11%)
$color-primary-900 = darken($color-primary, 23%)

$color-secondary = #43545c
$color-secondary-50 = lighten($color-secondary, 72%)
$color-secondary-100 = lighten($color-secondary, 48%)
$color-secondary-300 = lighten($color-secondary, 22%)
$color-secondary-700 = darken($color-secondary, 10%)
$color-secondary-900 = darken($color-secondary, 20%)

$text-color-primary = alpha(#000, 87%)
$text-color-secondary = alpha(#000, 54%)
$text-color-inverse-primary = alpha(#fff, 97%)
$text-color-inverse-secondary = alpha(#fff, 54%)

$color-gold = #d29910
$color-silver = #696f77

$app-header-height = 80px

$tap-color(color)
  -webkit-tap-highlight-color: color == 'none' ? transparent: color
  tap-highlight-color: color == 'none' ? transparent: color
