@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Raleway:400,700|Material+Icons')
@import './variables'

*, *::before, *::after
  box-sizing: border-box

html, body
  margin: 0
  padding: 0
  height: 100%

body
  font: 400 1em/1.4 $font-primary
  color: $text-color-primary

img, svg
  max-width: 100%

section
  text-align: center
  padding-top: $app-header-height
  &:not(:first-of-type)
    padding-bottom: $app-header-height

h2, h3, h4
  font-family: $font-secondary
  font-size: 3em
  margin: 0

h2.separator
  position: relative
  display: inline-block
  margin-bottom: 10px
  &::before
    position: absolute
    bottom: -5px
    display: block
    content: ''
    width: 80%
    margin-left: 10%
    height: 10px
    background: $color-primary
  &::after
    display: block
    content: ''
    width: 100%
    height: 5px
    background: $color-primary-900
    @media (min-width: $breakpoint-tablet)
      width: 150%
      margin-left: -25%

h3
  font-size: 2.25em

h4
  color: $text-color-secondary
  font-size: 2em

a
  $tap-color: alpha($color-primary, 25%)
  transition: color 250ms ease, background 250ms ease, box-shadow 250ms ease, text-shadow 250ms ease
  outline: 0

p, h1, h2, h3, h4
  a
    color: $color-secondary
    line-height: 1.25
    &:hover, &:focus
      color: $color-primary

button,
.button
  position: relative
  display: inline-block
  padding: .5em 1em
  font-size: .925em
  font-weight: 400
  letter-spacing: 1px
  cursor: pointer
  color: #fff
  background: $color-primary
  border: 2px solid @background
  box-shadow: 0 2px 15px alpha(#000, 10%), 0 8px 50px alpha(#000, 5%)
  transition: color 250ms ease, background 250ms ease, box-shadow 250ms ease, border 250ms ease
  text-align: center
  text-decoration: none
  text-transform: uppercase
  $tap-color: none
  outline: 0
  &.primary
    background: $color-primary-300
    border-color: @background
  &:hover, &:focus
    background: #000
    border-color: @background
    box-shadow: 0 4px 15px alpha(#000, 25%), 0 8px 50px alpha(#000, 10%)
  &.active, &:active
    background: darken(@background, 38%)
    box-shadow: 0 2px 15px alpha(#000, 10%), 0 8px 50px alpha(#000, 5%)
  &.transparent
    &:hover, &:focus
      border-color: #fff
      background: alpha($color-primary-300, 0)
      box-shadow: 0 2px 15px alpha(#000, 20%), 0 8px 50px alpha(#000, 10%)
    &.active, &:active
      border-color: $color-primary-300
  .material-icons
    vertical-align: bottom
    position: relative
    font-size: 1.5em
    line-height: 1
    margin-right: .25em

.scroll-top
  display: block
  position: fixed
  bottom: 0
  right: 0
  font-family: $font-primary
  background: #e6e6e6
  color: #666
  cursor: pointer
  text-decoration: none
  text-align: center
  font-size: .75em
  line-height: 2.25
  margin: 0 10px .75rem 0
  border-radius: 50%
  width: 1.75rem
  height: 1.75rem
  padding: 0
  box-shadow: 0 6px 15px alpha(#000, 12%), 0 12px 35px alpha(#000, 4%)
  &:hover, &:focus
    color: #333
    box-shadow: 0 6px 15px alpha(#000, 30%), 0 12px 50px alpha(#000, 10%)
  &:active
    color: #000
    box-shadow: 0 4px 10px alpha(#000, 16%), 0 8px 30px alpha(#000, 6%)

.circle
  display: block
  font-size: 2em
  width: 1.5em
  height: 1.5em
  line-height: 1.45
  text-align: center
  color: $text-color-secondary
  border: 3px solid $text-color-secondary
  border-radius: 50%
  img
    display: block
    border-radius: 50%
    object-fit: cover

.action-button
  margin-top: 3em
  .button.primary
    font-size: 1.5em
    &:hover, &:focus
      color: $text-color-primary
      border-color: $text-color-secondary
  p
    font-size: .875em
    color: $text-color-secondary
    margin: 1.5em 0 0
  &.inverse
    .button.primary:hover, .button.primary:focus
      color: $text-color-inverse-primary
      border-color: $text-color-inverse-primary
    p
      color: $text-color-inverse-secondary

.container
  padding: 1.5em
  @media(min-width: $breakpoint-tablet)
    padding-left: calc(1.5em + 2vw)
    padding-right: calc(1.5em + 2vw)
  @media(min-width: $breakpoint-desktop-hd)
    padding-left: 10vw
    padding-right: 10vw

@media (max-width: $breakpoint-tablet - 1px)
  .hidden-on-small
    display: none
